{% extends 'base.html' %}

{% block content %}
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Word Catch</h1>
                    <h3>Input word to search</h3>
                    <h4>In this prototype, we only support input "sacrifice", "behind you", "offer a solution".</h4>
                    <hr class="intro-divider">
                    <div class = "text-center">
                        <form action="/search/" method="POST"> {% csrf_token %}
                            <p>Search:

                                <input type="text" class= "input-black" name="words" /></p>

                            <input class="btn btn-primary btn-lg" type="submit" value="Search" />
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

{% endblock content %}
