{% extends 'base.html' %}
{% block content %}

<div class="container theme-showcase" role="main">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-primary">is good at/on</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-9">N-gram</th>
                    <th class="col-md-1">Percent</th>
                    <th class="col-md-1">Count</th>
                    <th class="col-md-1">Example</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        is good at
                        <div class='progress'>
                            <div class="progress-bar progressbar" role="progressbar" style="width: 82.5%;">

                            </div>
                        </div>
                        <div id="example1" class="collapse">
                            Canada is good at inventing, not so good at selling.
                        </div>
                    </td>
                    <td>
                        82.5%
                    </td>
                    <td>159192</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#example1">Show</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        is good on
                        <div class='progress'>
                            <div class="progress-bar progressbar" role="progressbar" style="width: 17.5%;">

                            </div>
                        </div>
                        <div id="example2" class="collapse">
                            England's Chris Woakes finds life is good on and off the field.
                        </div>
                    </td>

                    <td>17.5%</td>
                    <td>33659</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#example2">Show</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>



</div>

<div class="container theme-showcase" role="main">
<form method="get" action="">
    <button class="btn btn-primary btn-md" type="submit">Back to index</button>
</form>
</div>

{% endblock content %}